/********************************/
/*INDEX STYLES*/
/********************************/

html {
  background-color: #355065;
}
body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #355065;
  margin: 2% 2% 2% 2%;
  padding: 5%;
  text-align: center;
  border-radius: 10px;
  min-height: 70vh;
}
h3 {
  font-family: "Armata", sans-serif;
}

#title {
  text-align: center;
}

#titleLink {
  text-decoration: none;
  color: #355065;
}

th {
  font-size: 18pt;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid #355065;
}

td {
  font-size: 16pt;
}

tr:nth-child(odd) td {
  background: #EBEBEB;
}

tr:hover td {
  background: #839EB2;
}

/********************************/
/*GUEST SESSION STYLES*/
/********************************/

#login {
  border: none;
  border-bottom: 2px solid #355065;
  font-family: "Armata", sans-serif;
  width: 300px;
  text-align: center;
  color: grey;
  font-size: 24px;
}

#hostSession {
  font-family: "Armata", sans-serif;
  font-size: 24px;
  width: 300px;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c9d5cf;
  border: 2px solid #355065;
  margin-top: 10px;
  color: #355065;
  padding: 5px 5px;
  text-decoration: none;
}

/********************************/
/*GUEST SESSION STYLES*/
/********************************/

.ratings {
  width: auto;
  margin: 5px;
  border: 2px solid #c9d5cf;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.selected {
  background-color: #2e495e;
}

#ratingText {
  color: #c9d5cf;
}

/********************************/
/*HOST MENU STYLES*/
/********************************/

.hostMenuButtons {
  font-family: "Armata", sans-serif;
  font-size: 24px;
  width: 300px;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c9d5cf;
  border: 2px solid #355065;
  margin-top: 10px;
  color: #355065;
}

/*Reference to host menu button*/
#hostSession {
  color: #355065;
  background-color: #c9d5cf;
  text-decoration: none;
  border: 2px solid #355065;
  border-radius: 5px;
  padding: 5px 5px;
}

#logout {
  margin-left: -10px;
}

/********************************/
/*HOST LOGIN STYLES*/
/********************************/

#loginHost {
  margin-left: -10px;
  font-family: "Armata", sans-serif;
  font-size: 24px;
  width: 300px;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c9d5cf;
  border: 2px solid #355065;
  margin-top: 10px;
  color: #355065;
}

/********************************/
/*HOST SESSION STYLES*/
/********************************/

.statTags {
  font-family: "Armata", sans-serif;
  margin: 5px 0;
}

.statTags span {
  color: #C94040;
}

#showTestResults {
  width: 300px;
  height: 60px;
  font-family: "Armata", sans-serif;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c9d5cf;
  border: 2px solid #355065;
  margin-top: 10px;
  color: #355065;
  padding: 5px 5px;
  text-decoration: none;
}

#endSession {
  width: 300px;
  height: 60px;
  font-family: "Armata", sans-serif;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c9d5cf;
  border: 2px solid #355065;
  margin-top: 10px;
  color: #355065;
  padding: 5px 5px;
  text-decoration: none;
}

/********************************/
/*POST QUESTION VIEW STYLES*/
/********************************/
#all-answers {
  list-style-type: upper-alpha;
}

.question-li {
  text-align: left;
  margin-top: 20px;
}

.answer-li {
  text-align: left;
  font-size: 18pt;
}

.question-list-container {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}

.correct {
  background-color: #98FB98;
  border-radius: 7px;
}

/********************************/
/*POST QUESTION VIEW STYLES*/
/********************************/
#question-header {
  font-family: "Armata", sans-serif;
  font-size: 24px;
  padding-bottom: 10px;
  display: block;
}

#question {
  font-family: "Armata", sans-serif;
  width: 500px;
  height: 75px;
  border: 1px solid #999999;
  font-size: 16px;
}

.answer {
  font-family: "Armata", sans-serif;
  height: 20px;
  width: 300px;
  font-size: 14px;
}

#question-submit {
  width: 100px;
}

#correctHeader {
  font-family: "Armata", sans-serif;
  font-size: 12pt;
  display: inline;
}

#correctAnswer {
  margin-right: 35px;
}


/********************************/
/*SESSION HISTORY VIEW STYLES*/
/********************************/

.deleteSessionButton {
  font-family: "Armata", sans-serif;
  font-size: 16px;
  width: 120px;
  height: 24px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c9d5cf;
  border: 2px solid #355065;
  margin-top: 10px;
  color: #355065;
} 

.qMessage {
  list-style-type: none;
  font-family: "Courier New", serif;
  font-size: 20px;
  text-align: left;
  width:100%;
  font-weight: bold;
  color: #d42b43;
}

.aMessage
{
  list-style-type: none;
  font-family: "Courier New", serif;
  font-size: 20px;
  text-align: left;
  width:100%;
  color: #1a682c;
  font-weight: bold;
}


.grayOut {
  background-color: #999999;
}


#sessionStats {
  text-align: left;
  font-size: 10px;
  vertical-align: left;
}

#historyStats{
  border-radius:10px;
  border-width: 300px;
  border-height: 100px;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
}

