<div ng-show="show">
  <div class="question-header">Questions</div>

  <div class="question-list-container">
  <ul id="allQuestions">
    <li class="question-li" ng-repeat="question in questions">{{question.question}}
      <ul id="all-answers">
        <li class="answer-li"><span ng-class="{correct: question.correctAnswer==='A'}">{{question.A}}</span></li>
        <li class="answer-li"><span ng-class="{correct: question.correctAnswer==='B'}">{{question.B}}</span></li>
        <li class="answer-li"><span ng-class="{correct: question.correctAnswer==='C'}">{{question.C}}</span></li>
        <li class="answer-li"><span ng-class="{correct: question.correctAnswer==='D'}">{{question.D}}</span></li>
        <li class="answer-li"><span ng-class="{correct: question.correctAnswer==='E'}">{{question.E}}</span></li>
      </ul>
    </li>
  </ul>
  </div>
</div>

