<!-- This is the host"s main view during lecture/event -->
<div ng-show="show">

  <!-- Socket.io Messages -->
  <ul id="messages"></ul>
  <script>
  $( document ).ready(function() {
    console.log( "ready!?!" );
    var socket = io();
    $('form').submit(function(){
      socket.emit('questionForStudent', $('#m').val());
      $('#m').socket.on('questionForStudent', function(msg){
      $('#messages').text("");
      $('#messages').append($('<li class="qMessage">').text("Q:  " + msg.question)).append('<p>');
      var ansLetters = ['A','B','C','D','E'];
      for(var i=0; i<ansLetters.length;i++) {
        $('#messages').append($('<div class="aMessage">').text(ansLetters[i] + ":  " + msg[ansLetters[i]]));
      }
      $('#messages').append('<p>');
      $('#ratingSection').css({display: 'none'});
      $('#answerSection').css({display: 'block'});
    val('');
      return false;
    });
    socket.on('questionForStudent', function(msg){
      $('#messages').append($('<li>').text(msg));
    });
    socket.on('studentAnswer', function(msg){
      $('#messages').append($('<li>').text('studentAnswer '+msg));
    });


  });
  </script>


<div id="sessionStats">
<div >Session ID: <span>{{ sessionId }}</span></div>
<!-- Number of Voters in Room -->
<div >Number of Voters: <span>{{ userCount }}</span></div>
<!-- Time -->
<div >Time: <span>{{ time }}</span></div>
</div>


<!-- Current Average Feeling -->
<div id="historyStats">
<div >Current Average: <span>{{ currAvg }}</span></div>
<!-- Overall Average Feeling -->
<div >Historical Average: <span>{{ hisAvg }}</span></div>
</div>


<div id="question-header" ng-repeat="prompt in questionLists track by $index" ng-model="questionLists">
    <div ng-click="submitQuestion(prompt)" ng-class ="{'show': prompt.clicked === false, 'grayOut': prompt.clicked === true}">#{{$index+1}}. {{prompt.question}}</div> <div width="200px" ng-show="prompt.clicked">{{prompt.average}} %</div>
</div>



  <!-- Link to end session. Sends post data back to our server and redirects host to hostMenu-->
  <a ui-sref=".results" id="showTestResults">Test Show Results</a>

  <a href="#/hostMenu" id="endSession" ng-click="endSession(); hidePage()">End Session</a>
</div>
